@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    //box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background: #eee;
}
@mixin public($height:300px){
    width: 1138px;
    height: $height;
    margin: 0 auto;
    
}
.topWearp{width: 100%;background: #333;}
//top
.top{
    @include public(32px);
    background: #333; 
    .navUl{
        float: left;
         width: 260px;
         height: 32px; 
        a{
            color: #afcccc;
            float: left;
            margin:0 10px;
            line-height: 32px;
            font-size: 12px;
        } 
    } 
    .rightUl{
        float: left;
        width: 360px;
        height: 32px;
        line-height: 32px;  
       margin-left: 518px;      
        li{
            position: relative;
            float: left;
           // padding: 0 4px;
            font-size: 12px;
            a{              
                color: #fff;
                display: block;
            } 
            ul{
                display: none;
                position: absolute;
                background: #0086B3;
            }

        } 
        a{
            width: 60px;
            height: 34px; 
            border-bottom: 1px solid #eee;
           // background: palegreen;
            text-align: center;
            line-height: 34px;
            float: left;
            display: block;
        }      
    }
}

//logo
.seekLogoWearp{width: 100%;background: #fff;}
.seekLogo{
    @include public(100px);
    img{
        float: left;
        margin-top: 22px;
    }
    form{
        float: left;
        margin-left: 212px;
        input{
            width: 486px;
            height: 40px;
            border: 3px solid #de3c5b;
            margin-top: 22px;
        }
        
        .btn{
            
            display: inline-block;
            width: 82px;
            height: 48px;
            background: #de3c5b;
            border: none;
            margin-left: -7px;
            margin-top: -30px;
        }
        .shopping{
            border: none;
            width: 78px;
            height: 34px;
            background: #de3c5b;
            border-radius: 15px;
            font-size: 12px;
            margin-left: 10px;
        }
    }
}

//导航
.navWearp{background: #de3c5b;width: 100%;}
.nav{
    @include public(40px);
    ul li a:hover{
        background: #bf0024;
    }
    a{
        float: left;
        padding: 0 19px;
        line-height: 40px;
        color: #fff;
    }
    .mix{
        float: right;
    }  
}
//       侧边栏sidebar
.sidebar{
    position: fixed;
    top: 222px;
    right: 0;
    div{
        width: 40px;
        height: 35px;
        background: #666;
        margin-bottom: 4px;
        font-size: 12px;
        border-radius: 4px;
        text-align: center;
        button{
           width: 40px;
            height: 35px;
            background: #666; 
            border-radius: 4px;
            border: none;
            color: #fff;
        }
        a{
            color: #fff;
        }
    }
    .lastBar{
        margin-top: 152px;
        display: none;
       i{
           line-height: 35px;
       }
    }
}
.loginMain{
    width: 435px;
    height: 735px;
    background: #fff;
    margin: 20px auto 38px;
    padding: 15px;   
    .formlg{
        img{
            width: 435px;  
            height: 200px;
            margin-bottom: 10px;
        }      
    }
    .ip1{
        width: 433px;
        height: 32px;
        border: 1px solid #ccc;
        line-height: 32px;
        border-radius: 4px;
        margin-bottom: 15px;
        position: relative;
        label{
            display: inline-block;
            width: 80px;
            height: 32px;
            background: #eee;
            text-align: center;
            border-right: 1px solid #ccc;
        }
        input{
            border: none;
            width: 350px;
            height: 26px;
            border-radius: 4px;
        }
        span{
            display: block;
            width: 120px;
            height: 60px;
            background: black;
            color: #fff;
            position: absolute;
            left: 178px;
            top: 20px;
            z-index: 10;
            display: none;
            font-size: 12px;
            text-align: center;
            border-radius: 4px;
            
            
        }
    }
    .ipn{
        width: 435px;
        height: 32px; 
        display: inline-block;  
        input{
            border-radius: 4px;
            line-height: 32px;
            border: 1px solid #ccc;
            //border: none;
            width: 204px;
            height: 30px;
            margin-top: 2px;
            float: left;
        }
        .yz{
           background: url(../img/1.png) -10px -15px;
           width: 88px;
           height: 28px;
           font-style: italic ;
           border: 1px solid #29a3ee; 
           display: inline-block;
           //margin-top: 10px;
           //float: left;
           margin-left: 4px;
        }
        
        
    }
    .ipnx{
       width: 435px;
       height: 32px; 
       margin-top: 8px;
       a{
           width: 22px;
           height: 22px;
           border-radius: 50%;
           float: left;
           margin-top: 5px;
           position: relative;
          .dj{
             position: absolute;
             left: 0;
             top: 0; 
             display: none;
          }
       }
       label{
           float: left;
           display: block;
          line-height: 32px; 
          margin-left: 8px;
          font-size: 16px;
       }
    }
    .btnTi{
            margin-top: 20px;
            width: 435px;
            height: 32px;
            background: #337ab7;
            border: none;
            border-radius: 6px;
            color: #fff;
            margin-bottom: 20px;
    }
    .forget{
        margin-left: 138px;  
        .enter{
            width: 52px;
            height: 32px;
            border: none;
            border: 1px solid #ccc;
            background: #fff;
            border-radius: 4px;
            
        }
        .btnreg{
            width: 65px;
            height: 32px;
            border: none;
            border: 1px solid #ccc;
            background: #fff;
            border-radius: 4px;   
        }
        .last{
            width: 80px;
            height: 32px;
            border: none;
            border: 1px solid #ccc;
            background: #fff;
            border-radius: 4px;
            margin-left: 4px;
            margin-bottom: 22px;
        }     
    }
}
.bott{
    width: 435px;
    height: 130px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    li{
        float: left;
        text-align: center;
        margin: 33px 45px;
        a{
            color: #777;
            font-size: 12px;
        }
    }
}

.lgbomWarp{width: 100%;background: #333;}
.lgbom{
    @include public(120px);
    background: #333;
    ul{ 
        margin-left: 400px;
        li{
            float: left;
            color: #fff;
            margin: 20px 5px;
        }
    }
    
}
